@font-face{
	font-family: "Agency FB";
	src: url(C:/Windows/Fonts/Agencyb.ttf);
	font-family: "Arial";
	src: url(C:/Windows/Fonts/Arial.ttf);
	font-family: "Stencil";
	src: url(C:/Windows/Fonts/Stencil.ttf);
}
*{
	padding: 0;
	margin: 0;
	text-align: center;
}
body{
	font: 13px/1.5 "Agency FB", "Arial", sans-serif;
	background-color: #f4f4f4;
}
/*Global*/
hr{
	border-color: rgba(0,0,0,0.1);
	width: 90%;
	margin: auto;
}
/*.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}*/
.button_1{
	height: 27px;
	background: #32a8a6;
	border: none;
	margin: 10px 0 0 0;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	border-radius: 2px;
}
.box-1, .box-2, .box-3{
	padding: 15px 0;
}
.dark{
	padding: 5px 15px 15px 15px;
	background: #35424a;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}
ul{
	list-style-type: none;
}
/*Header*/
header{
	background: #35424a;
	color: #ffffff;
	min-height: 70px;
	border-bottom: #32a8a6 3px solid;
}
header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header li{
	display: inline;
	padding:  0 20px 0 0;
}
header li:last-child{
	padding: 0;
}
header #branding{
	text-align: center;
}
header #branding h1{
	font-size: 50px;
}
header nav{
	padding-top: 20px;
	text-align: center;
}
header .highlight{
	color: #32a8a6;
	font-weight: bold;
}
header .current a{
	color: #32a8a6;
	font-weight: bold;
}
header a:hover{
	color: #cccccc;
	font-weight: bold;
}
/*Showcase*/
#showcase{
	min-height: 350px;
	background: url('../images/SfondoShowcase.png') no-repeat 0 -100px;
	background-position: center;
	background-color: #35424a;
	border-bottom: #32a8a6 3px solid;
	text-align: center;
	color: #fff;
}
#showcase h1{
	padding-top: 35px;
	font-size: 30px;
	margin-bottom: 10px;
}
#showcase p{
	font-size: 20px;
}
/*Newletter*/
#newsletter{
	color: #fff;
	background: #35424a;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#newsletter .container{

}
#newsletter form{
	margin-top: 5px;
	text-align: center;
}
#newsletter input[type="email"]{
	padding: 2px;
	height: 20px;
	width: 250px;
}
/*Box*/
.box-1, .box-2, .box-3{
	text-align: center;
	width: 100%;
}
#boxes .box-1 > img, 
#boxes .box-2 > img,
#boxes .box-3 > img{
	width: 60px;
}
/*Sidebar*/
aside#sidebar{
	padding: 10px;
}
aside#sidebar h3{
	font-size: 30px;
	font-weight: bolder;
}
#sidebar li{
	margin: auto;
}
/*main-col*/
article#main-col{
	margin: auto;
}
article#main-col h1{
	font-size: 30px;
	font-weight: bolder;
}
/*Contacts*/
#contacts p{
	font-family: sans-serif;
}
footer{
	font-family: "Agency FB";
	text-align: center;
	margin: 0;
	margin-top: 20px;
	background-color: #35424a;
	color: #32a8a6;
}
footer a{
	font-family: sans-serif;
	font-size: 10px;
} 
/*Dropdown*/
.dropbtn {
  background-color: #32a8a6;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: block;
  margin: auto;
}
.dropdown {
  width: 90%;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}
.dropdown h1{
	font-size: 30px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: auto;
  margin-top: 15px;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #35424a;
  font-weight: bolder;
  font-size: 15px;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f0efef;
	color: #32a8a6;
}
/*change color on tap*/
.dropdown-content a::selection {
	background-color: #cccccc
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  color: #fff;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #35424a;
}
/*Media queries*/
@media screen and (min-width: 768px){
	*{
		text-align: inherit;
	}
	.lines{
		width: 100%;
	}
	.header .container{
		display: flex;
		align-content: center;
		justify-content: space-around;
	}
	.header .container .navigation{
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	#boxes .container{
		padding: 30px 30px 30px 50px;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
	}
	.box-1, .box-3{
		width: 40%;
		display: flex;
		display: flex-start;
		flex-flow: row nowrap;
		align-items: center;
		font-size: 15px;
	}
	.box-2 {
		width: 40%;
		display: flex;
		align-self:flex-end;
		flex-flow: row-reverse nowrap;
		align-items: center;
		font-size: 15px;
	}
	#newsletter .container{
		height: 60px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-content: space-around;
		justify-content: space-around;
	}
	.button_1{
		height: 27px;
		background: #32a8a6;
		border: none;
		margin: 0;
		padding-left: 10px;
		padding-right: 10px;
		color: #fff;
		border-radius: 2px;
	}
	#newsletter form{
		float: right;
	}
	.box{
		float: left;
		text-align: center;
		width: 100%;
		padding: 10px;
	}
	article#main-col{
		float: left;
		width: 65%;
		margin-top: 20px;
	}
	aside#sidebar{
		float: right;
		width: 30%;
		padding: 10px;
	}
	aside#sidebar h1{
		padding: 0;
		text-align: center;
	}
	#apple{
		padding-left: 7px;
	}
	.dropdown{
		padding: 50px;
	}
	.dropdown h1{
		text-align: center;
	}
	.dropdown-content{
		text-align: center;
		width: fit-content;
	}
	.dropdown .dropbtn{
		margin-top: 20px;
	}
}
